<app-menu></app-menu>

<div class="head ">

    <div class="menu-usuario  fs-4 ">
        <div class="links" id="usuario">
            <a class="w3-button w3-round-large" routerLinkActive="router-link-active"
                (click)="abrePerfil()" [routerLink]="['/usuario/perfil']" routerLinkActive="active">Perfil</a>
            <a class="w3-button w3-round-large" routerLinkActive="router-link-active" [routerLink]="['/usuario/novo-evento']"
                (click)="novoEvento()">Novo evento</a>
            <a class="w3-button w3-round-large" routerLinkActive="router-link-active" [routerLink]="['/usuario/eventos']"
                (click)="abreEventos()" >Eventos do usuario</a> 
        </div>
    </div>
</div>

<div class="page-container">
    <router-outlet></router-outlet>

</div>
