
$color-primary-white: rgb(240, 240, 240);

.container-eventos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-width: 100%;

}

