<!-- <div class="container-xl"> -->
    <div class="menu w-100 fs-4">
        <div class="links ">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">Início</a>
            <a [routerLink]="['/eventos']" routerLinkActive="router-link-active">Eventos</a>
            <input type="text"
                placeholder="Selecionar data"
                class="form-control"
                bsDaterangepicker
                [bsConfig]="{
                    isAnimated: true, 
                    containerClass: 'theme-orange',
                    dateInputFormat: 'YYYY-MM-DD'}"
                [formControl]="filtroData">

        </div>
        <div class="pesquisa">
            <input type="text" [formControl]="search" placeholder="Pesquisa">
        </div>
    </div>
<!-- </div> -->
    
<div class="container-fluid row container-eventos w-75">
    <app-event-card class="col" *ngFor="let evento of (eventos | async)" [evento]="evento"></app-event-card>
</div>