<app-menu [filtroData]="filtroData" [search]="search"></app-menu>

<!-- <div class="container-fluid imagem-background p-0">
</div>
<div class="menu w-100 fs-4 position-relative">
    <div class="links ">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" id="inicio">Início</a>
        <a [routerLink]="['/eventos']" routerLinkActive="router-link-active">Eventos</a>
    </div>

    <div class="d-flex mx-auto grid gap-5">
        <div class="d-flex justify-content-center align-itens-center m-0 ms-5 position-relative">
            <input type="text" id="input-me"
            placeholder="Selecionar data"
            class="form-control"
            bsDaterangepicker
            [bsConfig]="{
                isAnimated: true,
                containerClass: 'theme-orange',
                dateInputFormat: 'YYYY/MM/DD'}"
            [formControl]="filtroData">
    
            <fa-icon [icon]="['fas', 'calendar-days']" class="ms-1"></fa-icon>
        </div>
        <div class="pesquisa">
            <input type="text" [formControl]="search" placeholder="Pesquisa">
        </div>
    </div>

    <div class="links navbar-nav flex-row flex-wrap ms-md-auto">
        <a [routerLink]="['/usuario/login']" routerLinkActive="router-link-active">Login</a>
        <a [routerLink]="['/usuario']" routerLinkActive="router-link-active">Perfil</a>
    </div>
    
</div> -->

<div class="container-md container-eventos p-2">
    <app-event-card *ngFor="let evento of (eventos | async)" [evento]="evento"
    [routerLink]="['/eventos/', evento.id]" 
    ></app-event-card>
</div>
