// Estilos para o container de no máximo 700px
.container {
    background: white;
    max-width: 700px;
    width: 800px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

// Estilos para o formulário
mat-horizontal-stepper {
    padding: 20px;
}

mat-step {
    display: block;
}

.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        color: #333;

        &:focus {
            outline: none;
            border-color: #7b68ee;
            box-shadow: 0 0 5px #7b68ee;
        }
    }

    textarea {
        resize: vertical;
    }

}

// Estilo para a navegação do stepper
.mat-step-header {
    background-color: #7b68ee;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.mat-step-header-selected {
    background-color: #5a4ad8;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .form-group input[type="file"] {
        margin-bottom: 10px;

    }

    .image-preview {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        min-height: 200px;
        max-height: 350px;
        background-color: #f1ecec;
        border-radius: 20px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        .remove-button {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background: transparent;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
            cursor: pointer;
            z-index: 5;
            &:hover {
                transform: scale(1.1);
            }

        }
    }
}

ngx-dropzone {
    display: block;
    width: 100%;
    max-height: 350px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;

    button {
        background-color: #007bff;
        color: white;
        height: 50px;
        font-size: 14px;
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &:hover {
        border-color: #007bff;
    }

    &:hover button {
        background-color: #0056b3;
    }
}

.create-button {
    align-self: center;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    background: transparent;
    border: 2px solid #FFB7C5;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #FFB7C5;
        border-color: #f2768f;
        transform: scale(1.05);
    }

}

