.container {
    background: #ffffff;
    width: 600px;
    min-width: 450px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 15px;
}

.form-card {
    display: flex;
    justify-items: center;
    align-items: center;
}

.banner-card {
    max-width: 150px;
    max-height: 200px;

    label {
        align-self: flex-start;
    }

    .image-preview {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            object-fit: fill;
        }

        .remover-imagem {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
        }
    }
}

.info-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-group {
    margin: 0 20px 0 20px;

    h3 {
        font-size: var(--font-principal);
        align-self: flex-start;
    }

    label {
        font-size: 18px;
    }

    margin-bottom: 20px;

    input,
    textarea,
    select {
        width: 70%;
        border: none;
        background: none;
        border: 1px solid black;
        border-radius: 5px;
        color: #595959;

        &:focus {
            outline: none;
            border-color: #595959ae;
            box-shadow: 0 0 5px #595959ae;
        }
    }
}