<div class="container">
    <form [formGroup]="usuarioForm" *ngIf="this.usuario" class="form-card">
        <div class="form-group banner-card card col">
            <ngx-dropzone #dropzoneComponent (change)="onFileSelected($event)" *ngIf="!selectedImage">
                <button mat-button class="btn btn-primary">
                    <mat-icon>cloud_upload</mat-icon> Selecione uma foto de perfil
                </button>
            </ngx-dropzone>
            <div class="image-preview" *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Foto do Evento" class="preview-image">
                <button class="remover-imagem btn-close" *ngIf="(edit)" (click)="removeImage()" #tooltip="matTooltip"
                    matTooltip="Remover Imagem" matTooltipPosition="above">
                </button>
            </div>
        </div>
        <div class="col">
            <div class="col-lg d-flex flex-column align-items-center form-group">
                <h2 class="mb-3">Informações do Perfil</h2>
                <div class="form-group info-section">
                    <label>Username:</label>
                    <input [readonly]="!edit" type="text" formControlName="username" class="form-control" [ngClass]="{
                        'is-valid': usuarioForm.get('username')?.valid,
                        'is-invalid': usuarioForm.get('username')?.invalid && (usuarioForm.get('username')?.touched || usuarioForm.get('username')?.dirty)
                    }">
                </div>
                <div class="form-group info-section">
                    <label>Nome:</label>
                    <input [readonly]="!edit" type="text" formControlName="first_name" class="form-control" [ngClass]="{
                        'is-valid': usuarioForm.get('first_name')?.valid,
                        'is-invalid': usuarioForm.get('first_name')?.invalid && (usuarioForm.get('first_name')?.touched || usuarioForm.get('first_name')?.dirty)
                    }">
                </div>
                <div class="form-group info-section">
                    <label>Sobrenome</label>
                    <input [readonly]="!edit" type="text" formControlName="last_name" class="form-control" [ngClass]="{
                        'is-valid': usuarioForm.get('last_name')?.valid,
                        'is-invalid': usuarioForm.get('last_name')?.invalid && (usuarioForm.get('last_name')?.touched || usuarioForm.get('last_name')?.dirty)
                    }" placeholder="Ex: Cervejaria, bar, restaurante.">
                </div>
                <div class="form-group info-section">
                    <label>Telefone</label>
                    <input [readonly]="!edit" type="text" formControlName="telefone" class="form-control"
                        placeholder="(xx)999999999" [ngClass]="{
                        'is-valid': usuarioForm.get('telefone')?.valid,
                        'is-invalid': usuarioForm.get('telefone')?.invalid && (usuarioForm.get('telefone')?.touched || usuarioForm.get('telefone')?.dirty)
                    }">
                </div>
                <div class="form-group info-section">
                    <label>E-mail</label>
                    <input [readonly]="!edit" type="email" formControlName="email" class="form-control" [ngClass]="{
                        'is-valid': usuarioForm.get('email')?.valid,
                        'is-invalid': usuarioForm.get('email')?.invalid && (usuarioForm.get('email')?.touched || usuarioForm.get('email')?.dirty)
                    }">
                </div>

                <div class="info-section" *ngIf="!edit">
                    <button class="btn btn-primary mx-auto btn-lg" (click)="editInfo()">Editar</button>
                </div>
                <div class="info-section" *ngIf="edit">
                    <button class="btn btn-danger btn-lg" (click)="stopEdit()"><fa-icon
                            [icon]="['fas', 'xmark']"></fa-icon></button>
                    <button class="btn btn-primary btn-lg" (click)="saveEdit()">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>