.detalhe-body {
    padding: 20px;
}
.card-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    
    .nome-evento{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // // position: relative;
        h1 {
            // margin: 0;
            // margin: 20px;
            // color: #000000;
            font-size: 32px;
            font-weight: bold;
            color:#000000; /* Blue color */
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        
        }
        #data {
            display: flex;
            flex-wrap: wrap;
            min-width: fit-content;
            padding-left: 100px;
            color: #000000;
        }
        #nome{
            position: flex;
            flex-wrap: nowrap;
            // left: 50%;
        }

    }
    
    .content {
        display: flex;
        align-items: top;
        margin-bottom: 40px;
    }
    .banner {
        width: 60%;
        img {
            max-width: 100%;
            border-radius: 20px;
            // height: 100%;
            // max-width: 100%;
            // object-fit: fill;
            // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
    }


    .info {
        top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 90px;
        font-size: larger;
        // justify-content: start;
        .endereco { 
            align-items: start;
            font-weight: bold;
           
        }
        p {
            margin: 8px 0;
        }

        span{
            font-weight: bold;
            margin-right: 5px;
            font-size: larger
        }

    }

    .evento-tipo {
        width: 100%;
        align-items: start;
        margin-top: 8px;
        // padding-bottom: 20px;
        // padding-top: 8px;
    }
    .event-entry {
        align-items: start;
    }  
}

#map{
    font-size: larger;
}