<app-menu></app-menu>

<div class="container body">
    <div class="wrap-login">
        <form [formGroup]="form" class="form-box">
        <span class="logo">
           
            <h3 class="card-title text-center">Login</h3>
        </span>
            <div class="form-group" style="width: 80%;">
                <label for="username" class="username-label">E-mail ou Username</label>
                <input id="username" type="text" class="form-control username-input" formControlName="username"
                    [ngClass]="{
                    'is-valid': form.get('username')?.valid,
                    'is-invalid': form.get('username')?.invalid && (form.get('username')?.touched || form.get('username')?.dirty)
                }">
                <ul *ngIf="form.get('username')?.invalid && (form.get('username')?.touched || form.get('username')?.dirty)">
                    <li *ngIf="form.get('username')?.hasError('username')">E-mail inválido</li>
                </ul>
            </div>
            <div class="form-group position-relative" style="width: 80%;">
                <label for="password" class="password-label">Senha</label>
                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control password-input" id="password"
                    formControlName="password" [ngClass]="{
                        'is-valid': form.get('password')?.valid,
                        'is-invalid': form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)
                    }">
                <button class="toggle-password" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="fieldTextType ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
            </div>
            <div class="container d-flex justify-content-center" style="padding-top: 50px;">
                <button class="btn btn-primary col-6 mx-auto"
                    (click)="accountLogin(form.get('username')?.value, form.get('password')?.value)">Login</button>
            </div>
            <div class="textoFim">
                <p>Não tem uma conta? se <a href="/cadastro">inscreva</a> aqui.</p>
            </div>
        </form>
    </div>
</div>