.container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;

    .login-card {
        width: 100%;
        max-width: 400px;
        border-radius: 20px;
        overflow: hidden;
        padding: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;

        h2 {
            color: #000000;
        }

        .username-input,
        .password-input {
            margin-bottom: 20px;
        }

        .username-label,
        .password-label {
            color: #000000;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .eye {
            position: absolute;
            right: 0;
            top: 50%;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

    }
}