<div class="container">
    <form [formGroup]="FormEvento">
        <label for="container" id="titulo">
            <h1>Formulário de Cadastro de Evento</h1>
        </label>
        <div class="form-group">
            <label>Nome do Evento</label>
            <input id="nome" type="text" formControlName="nome" class="form-control" [ngClass]="{
                        'is-valid': FormEvento.get('nome')?.valid,
                        'is-invalid': FormEvento.get('nome')?.invalid && (FormEvento.get('nome')?.touched || FormEvento.get('nome')?.dirty)
                    }">
            <ul
                *ngIf="FormEvento.get('nome')?.invalid && (FormEvento.get('nome')?.touched || FormEvento.get('nome')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>
        <div class="form-group">
            <label>Data do Evento</label>
            <input type="date" formControlName="data" class="form-control" [min]="minDate" [ngClass]="{
                        'is-valid': FormEvento.get('data')?.valid,
                        'is-invalid': FormEvento.get('data')?.invalid && (FormEvento.get('data')?.touched || FormEvento.get('data')?.dirty)
                    }">
            <ul
                *ngIf="FormEvento.get('data')?.invalid && (FormEvento.get('data')?.touched || FormEvento.get('data')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>

        <div class="form-group">
            <label>Categorias do Evento</label>
            <select name="tipos_evento" formControlName="tipos_selecionados" multiple>
                <option *ngFor="let tipo of categorias" [ngValue]="tipo">{{tipo.nome}}</option>
            </select>
            <ul
                *ngIf="FormEvento.get('tipos_evento')?.invalid && (FormEvento.get('tipos_evento')?.touched || FormEvento.get('tipos_evento')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>

        <div class="form-group">
            <label>Público Alvo</label>
            <input type="text" formControlName="publico_alvo" class="form-control">
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea formControlName="descricao" class="form-control" [ngClass]="{
                                                      'is-valid': FormEvento.get('descricao')?.valid,
                                                      'is-invalid': FormEvento.get('descricao')?.invalid && (FormEvento.get('descricao')?.touched || FormEvento.get('descricao')?.dirty)
                                                  }"></textarea>
            <ul
                *ngIf="FormEvento.get('descricao')?.invalid && (FormEvento.get('descricao')?.touched || FormEvento.get('descricao')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>
        <div class="form-group">
            <label>Valor da Entrada</label>
            <input type="text" formControlName="valor_entrada" class="form-control" [ngClass]="{
                              'is-valid': FormEvento.get('valor_entrada')?.valid,
                              'is-invalid': FormEvento.get('valor_entrada')?.invalid && (FormEvento.get('valor_entrada')?.touched || FormEvento.get('valor_entrada')?.dirty)
                          }">
            <ul
                *ngIf="FormEvento.get('valor_entrada')?.invalid && (FormEvento.get('valor_entrada')?.touched || FormEvento.get('valor_entrada')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>
        <div class="form-group ">
            <label>CEP</label>
            <input type="text" formControlName="cep" class="form-control"
                [ngClass]="{
                        'is-valid': FormEvento.get('cep')?.valid,
                        'is-invalid': FormEvento.get('cep')?.invalid && (FormEvento.get('cep')?.touched || FormEvento.get('cep')?.dirty)}">
            <ul
                *ngIf="FormEvento.get('cep')?.invalid && (FormEvento.get('cep')?.touched || FormEvento.get('cep')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>
        <div class="form-group">
            <label>Rua</label>
            <input type="text" formControlName="rua" class="form-control" [ngClass]="{
              'is-valid': FormEvento.get('rua')?.valid,
              'is-invalid': FormEvento.get('rua')?.invalid && (FormEvento.get('rua')?.touched || FormEvento.get('rua')?.dirty)
          }">
            <ul
                *ngIf="FormEvento.get('rua')?.invalid && (FormEvento.get('rua')?.touched || FormEvento.get('rua')?.dirty)">
                <li style="color: red;">Campo obrigatório</li>
            </ul>
        </div>
        <div class="form-group">
            <label>Número</label>
            <input type="text" formControlName="numero" class="form-control" [ngClass]="{
                        'is-valid': FormEvento.get('numero')?.valid,
                        'is-invalid': FormEvento.get('numero')?.invalid && (FormEvento.get('numero')?.touched || FormEvento.get('numero')?.dirty)
                    }">
        </div>
        <div class="form-group">
            <label>Bairro</label>
            <input type="text" formControlName="bairro" class="form-control" [ngClass]="{
                        'is-valid': FormEvento.get('bairro')?.valid,
                        'is-invalid': FormEvento.get('bairro')?.invalid && (FormEvento.get('bairro')?.touched || FormEvento.get('bairro')?.dirty)
                    }">
        </div>
        <div class="form-group">
            <label>Cidade</label>
            <input type="text" formControlName="cidade" class="form-control" [ngClass]="{
                        'is-valid': FormEvento.get('cidade')?.valid,
                        'is-invalid': FormEvento.get('cidade')?.invalid && (FormEvento.get('cidade')?.touched || FormEvento.get('cidade')?.dirty)
                    }">
        </div>

        <div class="form-group banner">
            <label>Foto do Evento</label>
            <ngx-dropzone #dropzoneComponent (change)="onFileSelected($event)" *ngIf="!selectedFile">
                <button mat-button class="btn btn-primary">
                    <mat-icon>cloud_upload</mat-icon> Selecione uma imagem para o banner do evento
                </button>
            </ngx-dropzone>
            <div class="image-preview" *ngIf="imagePreviewUrl">
                <img [src]="imagePreviewUrl" alt="Foto do Evento" class="preview-image">
                <button class="remover-imagem btn-close" *ngIf="imagePreviewUrl" (click)="removeImage()"
                    #tooltip="matTooltip" matTooltip="Remover imagem" matTooltipPosition="above">
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-center ">
            <button mat-raised-button class="btn btn-success" (click)="createEvento()">Criar Evento</button>

        </div>
    </form>
</div>