.container {
    background: white;
    max-width: 700px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 15px;
}

#titulo{
    display: flex;
    justify-content: center;
    color: #000000;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;

    
    label {
        display: block;
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="date"],
    input[type="file"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        padding-right: 30px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #595959;

        &:focus {
            outline: none;
            border-color: #595959ae;
            box-shadow: 0 0 5px #595959ae;
        }
    }

    textarea {
        resize: vertical;
    }

}

.banner {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: left;

    label {
        align-self: flex-start;
    }

    .image-preview {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        max-height: 350px;
        background-color: #f1ecec;
        border-radius: 20px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            object-fit: fill;
        }

        .remover-imagem {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
        }
    }
}

ngx-dropzone {
    display: block;
    width: 100%;
    max-height: 350px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;

    button {
        background-color: #007bff;
        color: white;
        height: 50px;
        font-size: 14px;
        padding: 8px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &:hover {
        border-color: #007bff;
    }

    &:hover button {
        background-color: #0056b3;
    }
}
