<figure class="snip1277">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample67.jpg" alt="sample67"/>
    <figcaption>
      <h3>Chauffina Carr</h3>
      <div class="icons">
        <a href="#"><i class="ion-social-reddit-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-vimeo-outline"></i></a>
      </div>
    </figcaption>
  </figure>
  <figure class="snip1277 hover">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample69.jpg" alt="sample69"/>
    <figcaption>
      <h3>Valentino Morose</h3>
      <div class="icons">
        <a href="#"><i class="ion-social-reddit-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-vimeo-outline"></i></a>
      </div>
    </figcaption>
  </figure>
  <figure class="snip1277">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample84.jpg" alt="sample84"/>
    <figcaption>
      <h3>Pelican Steve</h3>
      <div class="icons">
        <a href="#"><i class="ion-social-reddit-outline"></i></a><a href="#"> <i class="ion-social-twitter-outline"></i></a><a href="#"> <i class="ion-social-vimeo-outline"></i></a>
      </div>
    </figcaption>
  </figure>