@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.evento {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 200px;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
}
figure.evento * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
figure.evento img {
  opacity: 1;
  width: 100%;
  vertical-align: top;
  height: 200px;
  object-fit: fill;
}
figure.evento figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
figure.evento figcaption:before {
  content: '';
  position: absolute;
  width: 44px;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #ffffff;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: -1;
}
.evento h3 {
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
figure.evento .icons {
  position: absolute;
  top: 5px;
  width: 44px;
  right: 0;
}
figure.evento .icons a {
  display: inline-block;
}
figure.evento .icons i {
  color: #ffffff;
  line-height: 38px;
  width: 44px;
  font-size: 1.4em;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 0;
}
figure.evento .icons i:hover {
  background-color: #164666;
  color: #ffffff;
}
figure.evento:hover img,
figure.evento.hover img {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
figure.evento:hover figcaption:before,
figure.evento.hover figcaption:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
figure.evento:hover figcaption h3,
figure.evento.hover figcaption h3 {
  -webkit-transform: translateX(-44px);
  transform: translateX(-44px);
}
figure.evento:hover figcaption i,
figure.evento.hover figcaption i {
  color: #164666;
}