  <div class="card">
    <figure class="snip1208 top-part">
      <img *ngIf="evento.banner != null" [src]="evento.banner" class="card-img-top" alt="Foto do Evento">
      <div *ngIf="evento.banner == null" class="no-img"><img src="" alt="Foto do Evento"></div>
      <div class="date">
        <span class="day">{{eventoDay}}</span>
        <span class="month">{{monthName}}</span>
      </div><i class="ion-android-add"><br>Detalhes</i>
    </figure>
    <figure class="snip1208 bot-part">
      <h3 class="card-title">{{evento.nome}}</h3>
      <!-- <button class="btn btn-primary">Detalhes</button> -->
    </figure> 
  </div>