<a [routerLink]="['/eventos/', evento.id]">
<figure class="snip1208">
  <img *ngIf="evento.banner" [src]="evento.banner">
  <img *ngIf="evento.banner == null" src="https://st4.depositphotos.com/14953852/22772/v/450/depositphotos_227725020-stock-illustration-image-available-icon-flat-vector.jpg">

  <div class="date">
    <span class="day">{{eventoDay}}</span>
    <span class="month">{{monthName}}</span>
  </div><i class="ion-android-add"></i>
  <figcaption>
    <h3>{{evento.nome}}</h3>
    <p>
      {{evento.descricao}}
    </p>
    <button>Detalhes</button>
  </figcaption><a href="#"></a>
</figure>
</a>