<!-- <div class="card"> -->
  <a [routerLink]="['/eventos/', evento.id]" class="card">
    <figure class="snip1208 card-img-top">
      <img *ngIf="evento.banner != null" [src]="evento.banner" class="card-img-top">
      <!-- <img *ngIf="evento.banner == null" src="https://shorturl.at/lDGRY" class="card-img-top"> -->
      <div class="date">
        <span class="day">{{eventoDay}}</span>
        <span class="month">{{monthName}}</span>
      </div><i class="ion-android-add"></i>
    </figure>
    <figure class="snip1208 ">
      <!-- <figcaption > -->
        <h3 class="card-title">{{evento.nome}}</h3>
        <p class="card-text">{{evento.descricao}}</p>
        <button class="btn btn-primary bottom-0">Detalhes</button>
      <!-- </figcaption> -->
    </figure> 
  </a>
<!-- </div> -->